#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(247, 243, 243);
    padding: 1%;
}
.carousel-item{
    height: 100%;
}
#carouselExample{
    height: 100%;
    width: 100%;
}
#inner{
    height: 100%;
}


.imagens_carrosel{
    height: 100%;
    width: 100%;
}