footer{
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 56px;
}
footer h1{
    font-size: 25px;
}
.container-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 205px;
}
.items-footer{
    display: flex;
    flex-direction: column;
}
.items-footer h1{
    font-size: 20px;
    margin-bottom: 20px;
}

.items-footer h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
button, a {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border-width: 0;
    color: White;
    text-decoration: none;
    background-color: none;
  }
  
.link_contato{
    color: white;
    text-decoration: none;
}